.loginContainerV1 {
  height: 100svh;
  width: 100vw;
}

.loginSideV1 {
  background-image: url("../../../assets/images/login/loginV1.jpg");
  height: 100%;
  width: 100% !important;
  background-position:center;
  background-repeat: no-repeat;
  background-size: cover;
}

.formContainerV1{
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.passwordLoginContV1{
  display: block;
}

.mutedtext{
  /* text-align: center; */
}